@import "tailwindcss";

@theme {
  --color-primary: #4d6bfe;
}

html {
  @apply scroll-smooth;
}
body {
  font-family: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
}
::-webkit-scrollbar {
  display: none;
}
